{% extends "base.html" %}
{% block title %}模板列表{% endblock %}
{% block head %}
	<head>
		<title>three.js webgl - loaders - vtk loader</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #000;
				color: #fff;
				margin: 0px;
				overflow: hidden;
			}
			#info {
				color: #fff;
				position: absolute;
				top: 10px;
				width: 100%;
				text-align: center;
				z-index: 100;
				display:block;
			}
			#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }
		</style>

	</head>

	</head>
{% endblock %}
{% block content %}
        <script src='http://{{host}}/static/js/libs/inflate.min.js'></script>
		<script src="http://{{host}}/static/build/three.js"></script>

		<script src="http://{{host}}/static/js/controls/TrackballControls.js"></script>

		<!-- <script src="js/loaders/VTKLoader.js"></script> -->

		<script src="http://{{host}}/static/js/Detector.js"></script>
		<script src="http://{{host}}/static/js/libs/stats.min.js"></script>
		 <script src="http://{{host}}/static/js/loaders/OBJLoader.js"></script>
		<script src="http://{{host}}/static/js/loaders/PLYLoader.js"></script>
		<script>

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

			var container, stats;

			var camera, controls, scene, renderer;

			var cross;

			init();
			animate();

			function init() {

				camera = new THREE.PerspectiveCamera( 60, window.innerWidth / window.innerHeight, 0.01, 1e10 );
				camera.position.z = 0.2;

				controls = new THREE.TrackballControls( camera );

				controls.rotateSpeed = 5.0;
				controls.zoomSpeed = 5;
				controls.panSpeed = 2;

				controls.noZoom = false;
				controls.noPan = false;

				controls.staticMoving = true;
				controls.dynamicDampingFactor = 0.3;

				scene = new THREE.Scene();

				scene.add( camera );

				// light

				var dirLight = new THREE.DirectionalLight( 0xffffff );
				dirLight.position.set( 200, 200, 1000 ).normalize();

				camera.add( dirLight );
				camera.add( dirLight.target );

				var material = new THREE.MeshLambertMaterial( { color: 0xffffff, side: THREE.DoubleSide } );

				// texture
                {% if obj_path %}
				var manager = new THREE.LoadingManager();
				manager.onProgress = function ( item, loaded, total ) {

					console.log( item, loaded, total );

				};

				var texture = new THREE.Texture();

				var onProgress = function ( xhr ) {
					if ( xhr.lengthComputable ) {
						var percentComplete = xhr.loaded / xhr.total * 100;
						console.log( Math.round(percentComplete, 2) + '% downloaded' );
					}
				};

				var onError = function ( xhr ) {
				};


				var loader = new THREE.ImageLoader( manager );
				loader.load( '{{pic_path}}', function ( image ) {

					texture.image = image;
					texture.needsUpdate = true;

				} );

				//model

				var loader = new THREE.OBJLoader( manager );
				loader.load( '{{obj_path}}', function ( object ) {

					object.traverse( function ( child ) {

						if ( child instanceof THREE.Mesh ) {

							child.material.map = texture;

						}

					} );

					object.position.y = -10;
					scene.add( object );

				}, onProgress, onError );
				{% endif %}

				// PLY file
                {% if path %}
				var loader = new THREE.PLYLoader();
				loader.load( '{{path}}', function ( geometry ) {

					geometry.computeVertexNormals();

					var material = new THREE.MeshStandardMaterial( { color: 0x0055ff, flatShading: true } );
					var mesh = new THREE.Mesh( geometry, material );

					mesh.position.y = - 0.2;
					mesh.position.z =   0.3;

					mesh.castShadow = true;
					mesh.receiveShadow = true;

					scene.add( mesh );

				} );
				{% endif %}
				// renderer

				renderer = new THREE.WebGLRenderer( { antialias: false } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );

				container = document.createElement( 'div' );
				document.body.appendChild( container );
				container.appendChild( renderer.domElement );

				stats = new Stats();
				container.appendChild( stats.dom );

				//

				window.addEventListener( 'resize', onWindowResize, false );

			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

				controls.handleResize();

			}

			function animate() {

				requestAnimationFrame( animate );

				controls.update();
				renderer.render( scene, camera );

				stats.update();

			}

		</script>
<a class="btn btn-default" onclick="function(){fun(){$('#data_info').show()}}"> 数据</a>
<div class="modal fade DialogContainer" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true" style="display: none;" id="data_info" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="margin-top:20px;width:600px;">
        <div class="modal-content" style="margin:0 auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">数据</h4>
            </div>
            <div class="modal-body" style="height:500px;">
				{% if res %}
				<div class="well">
					<ul>
						<li>垂直方向</li>
						<li>face_left_height : {{res.face_left_height}}</li>
						<li>face_right_height : {{res.face_right_height}}</li>
						<li>back_right_height : {{res.back_right_height}}</li>
						<li>back_left_height : {{res.back_left_height}}</li>
						<li>水平方向</li>
						<li>face_bottom_length : {{res.face_bottom_length}}</li>
						<li>face_above_length : {{res.face_above_length}}</li>
						<li>back_bottom_length : {{res.back_bottom_length}}</li>
						<li>back_above_length : {{res.back_above_length}}</li>
						<li>深度方向</li>
						<li>face_right_bottom : {{res.face_right_bottom}}</li>
						<li>face_right_above : {{res.face_right_above}}</li>
						<li>face_left_bottom : {{res.face_left_bottom}}</li>
						<li>face_left_above : {{res.face_left_above}}</li>
					</ul>
				</div>
				{% endif %}
            </div>
        </div>
    </div>
</div>

	{% endblock %}